<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
    <nav class="navbar navbar-default r-5">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand icono" href="#">
              <i class="fas fa-user-graduate"></i>
            </a>
          </div>
        </div>
      </nav>
  <a class="navbar-brand" [routerLink]="['/inicio']">Yo decidUSS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item margen">
        <a class="nav-link" [routerLink]="['/docente']">Docentes <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item margen ">
          <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
      </li>       
      <li class="nav-item ">
          <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>
      </li>
    </ul>
    
  </div>
</nav>