<div class="container-fluid">
  <div class="titulo arreglo ">
      <p>En esta sección podrás agregar o buscar informacion sobre un docente!</p>
  </div>
</div>
<div class="contenedor">

<div class=" mt-5 formulario">
  <div class="cuerpo mt-1 ">
      <form #DocenteForm="ngForm" (ngSubmit)="addDocente(DocenteForm)">

          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="conexion.selectedDocente._id">
          
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="conexion.selectedDocente.nombre"
              placeholder="Agrega nombre del Docente">
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="descripcion"
              #descripcion="ngModel"
              [(ngModel)]="conexion.selectedDocente.descripcion"
              placeholder="Agrega descripcion del Docente">
          </div>
          <div class="form-group">
            <input 
              type="number"
              class="form-control"
              name="edad"
              #edad="ngModel"
              [(ngModel)]="conexion.selectedDocente.edad"
              placeholder="Agrega edad del Docente">
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="ramos"
              #ramos="ngModel"
              [(ngModel)]="conexion.selectedDocente.ramos"
              placeholder="Agrega ramos del Docente">
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="ventajas"
              #ventajas="ngModel"
              [(ngModel)]="conexion.selectedDocente.ventajas"
              placeholder="Agrega ventajas del Docente">
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="desventajas"
              #desventajas="ngModel"
              [(ngModel)]="conexion.selectedDocente.desventajas"
              placeholder="Agrega desventajas del Docente">
          </div>
          <div class="form-group">
            <button class="btn btn-primary mr-2 ml-4 mt-2" type="submit"  >
                <i class="fas fa-plus-circle"></i> Agregar
            </button>
            <button class="btn btn-secondary mt-2" type="reset" (click)="resetForm(DocenteForm)">
                <i class="fas fa-sync-alt"></i> Limpiar
            </button>
          </div>
        </form>
  </div>
</div>

  <div class="mostrar mt-5">
    <div class="titulo">
      <h3 class="bg-danger">Lista de Docentes</h3>
    </div>
    <div class="contenido" *ngFor="let docente of conexion.docentes">
      <a class="btn btn-secondary text-white mr-2" (click)="editDocente(docente)">
        <i class="far fa-edit"></i>
      </a>
      <a class="btn btn-danger text-white" (click)="deleteDocente(docente._id)">
        <i class="fas fa-trash-alt"></i>
      </a>
      <h4 class="mt-2">Nombre</h4>
      <p>{{docente.nombre}}</p>
      <h4>Edad</h4>
      <p>{{docente.edad}}</p>
      <h4>Descripcion</h4>
      <p>{{docente.descripcion}}</p>
      <h4>Ramos</h4>
      <p>{{docente.ramos}}</p>
      <h4>Ventajas</h4>
      <p>{{docente.ventajas}}</p>
      <h4 class="mb-2">Desventajas</h4>
      <p>{{docente.desventajas}}</p>
      <hr size="2px" color="black" />
    </div>
  </div>
</div>
