.inicio{
    display: flex;
    margin-top: 50px;
    .inicio-imagen{
        img{
            width: 480px;
            margin-left: 20px;
        }
    }
    .inicio-informacion{
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        align-items: center;
        h1{
            text-align: center;
            font-size: 50px;
            margin-top: 80px;
        }
        img{
            width: 400px;
            margin-top: 60px;
            margin-left: -15px;
        }
    }
}

.inicio-descripcion{
    margin: 50px 20px 90px 20px;
    padding: 10px 20px 0px 20px;
    border: 2px solid black;
    border-radius: 100px;
    p{
        text-align: center;
    }
}